Skip to content
Search or jump to…
Pull requests
Issues
Codespaces
Marketplace
Explore
 
@PHH2003 
PHH2003
/
hieptkhd
Public
Cannot fork because you own this repository and are not a member of any organizations.
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
hieptkhd/.gitignore
@PHH2003
PHH2003 first commit
Latest commit 449aed2 on Feb 16
 History
 1 contributor
24 lines (22 sloc)  253 Bytes
 

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
hieptkhd/.gitignore at main · PHH2003/hieptkhd
1